@(title: String)(content: Html)
@import util.Location
<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="@routes.Assets.at("css/reset.css")" type="text/css" />
    <link rel="stylesheet" href="@routes.Assets.at("css/default.css")" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("js/jquery-1.5.2.min.js")" type="text/javascript" charset="utf-8"></script>

</head>
<body>

<div id="smallheader">						<!-- Start of Header Part !-->
    <div class="wrapper">

        <div id="logo">
            <img src="@routes.Assets.at("images/small.png")"  alt="Iain Cambridge" class="png"/>
        </div>

        <div id="right">
            <form method="get" action="http://www.google.com/search" id="searchform">

                <fieldset class="search">
                    <input type="search" placeholder="Search on Google" name="q" results="10">
                    <input type="hidden" name="sitesearch" value="blog.icambridge.me">
                    <button class="btn" type="submit">
                </fieldset>
            </form>
        </div>

    </div>
</div>										<!-- End of Header Part !-->

<div id="contentpart">								<!-- Start of Content Part !-->
    <div class="wrapper">


        @partial.menu()

        <div id="content">

            <div id="main" class="news">
                @content
            </div>								<!-- End Main Content !-->

        <div id="sidebar">				<!-- Start of Sidebar !-->
            <div class="title"><h2>Iain Cambridge</h2></div>

            <p>A Scottish PHP Web Developer based in England. Writing code for fun and profit.</p><br />

            <h3>Networks</h3>
            <ul>
                <li><a href="http://github.com/icambridge">Github</a> &mdash; Look at my code</li>
                <li><a href="http://twitter.com/ircambridge">Twitter</a> &mdash; Read my retweets</li>
            </ul>
        </div>								<!-- End of Sidebar !-->

        </div>

        <div style="clear:both;"></div>

        <div id="bottom">					<!-- This is the Footer !-->
            <p class="footer">Copyright © 2013 Iain Cambridge. All Rights Reserved.</p>
        </div>

    </div>
</div>										<!-- End of Content Part !-->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21589024-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
